.item {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fe5153;
}

.status-online {
  background-color: #4daf4e;
}

.name {
  font-size: 18px;
  font-weight: 700;
}
